.title {
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin-top: 16px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: black;
  opacity: 0.8;
  text-align: center;
  margin-top: 6px;
}

.cards {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 12px;
    margin: 12px;
}