* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  max-width: 1550px;
  margin: 0 auto;
  background: radial-gradient(circle, #f8e4c0, #c4b7aa);
  background-size: cover;
}

a {
  text-decoration: none;
  color: #DAA06D;
}